.header__left {
  img {
    width: 15rem;
    height: 15rem;
  }
  .header__left-temp {
    flex-direction: row;

    span {
      font-size: 2.5rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }
}
.header__right {
  .--info-group {
    margin-top: 3rem;
    width: 30%;
    .--label {
      font-size: 1.5rem;
      line-height: 1rem;
      font-weight: 500;
    }
    span {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}
.Day-card {
  img {
    width: 7rem;
    height: 8rem;
  }
  .day-card-day {
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 500;
  }
  span {
    font-weight: 400;
    font-size: 1.4rem;
  }
}
.hourly-section {
  width: 100%;
  background-color: #61c2d6;

  div {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 500;
  }
  span {
    font-weight: 400;
    font-size: 1.8rem;
  }
}
.hourly-section:nth-child(2n) {
  background-color: hsl(190, 59%, 50%);
}
